<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width , initial-scal=1.0">
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename ='css/style.css') }}">
        <title>rank</title>
    </head>
    <body>
      <div>
        <h1 class="title_word">Welcome to Space Survival</h1>
        <video class="video-back" autoplay loop muted>
          <source src="static\src\video (2).mp4" >
        </video>
      </div>
      <table>
        <tr>
          <th>id</th>
          <th>score</th>
          <th>Number</th>
        </tr>
        <tbody>
          {% for i in range(15) %}  
          <tr>
            {% for j in range(2) %}  
            <td>
              {{content[i][j]}}
            </td>     
            {% endfor %}
            <td>
              {{i+1}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h3>Input ID select your Score</h3>
      <form method='post' action="/rank"> 
        <input id="input1" type='text' name='username'>
        <button id="input_s" class="btn1" type='submit'>Submit</button>
      </form>
      <h4>download Space Survival</h4>
      <form method="get" action="https://github.com/ting0525/c/archive/refs/heads/master.zip">
        <input class="btn1" id="input2" type="submit" value="download" name="n" style="width:150px;height:50px;">
      </form>
    </body>
</html>