<DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width , initial-scal=1.0">
            <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename ='css/style.css') }}">
            <title>Not Found</title>
        </head>
        <body>
          <div>
            <h1 class="big_word">Not Found</h1>
            <video class="video-back" autoplay loop muted>
              <source src="static\src\video (2).mp4" >
            </video>
            <input class="btn1" id="input_back" type ="button" onclick="history.back()" value="Back"></input>
          </div>
        </body>
    </html>