
.center{
  width: 680px;
  border:1px solid rgb(185, 29, 29);
  height: 600px;
  float:left;
  margin:10px;
  background:rgb(182, 25, 25);
  padding:15px; 
}

table{
  text-align:center;
  width:600px;
  height:60px;
  border:1px solid rgb(200, 255, 255);
  z-index: 1;
  position:absolute;
  top:20%;
  left:10%;
  
}

table th{
  border: 1px solid rgb(0, 255, 255);
  padding: 5px;
  color:gold;  
}

table td{
  border: 1px solid rgb(0, 255, 255);
  padding: 5px;
  color: rgb(0, 255, 255);
}

.title_word{
  color:gold;
  text-align:center;
  z-index: 1;
  position:absolute;
  font-size: 60px;
  text-align:center;
  left:30%;
  font-family:fantasy;
}

.big_word{
  color:gold;
  text-align:center;
  z-index: 1;
  position:absolute;
  font-size: 60px;
  text-align:center;
  left:40%;
  top:35%;
  font-family:fantasy;
}

.switch{
  color:white;
}

.video-back{
  position:fixed;
  top:0;
  left:0;
  min-width:100%;
  min-height:100%;
}

#input1{
  position:absolute;
  top: 35%;
  left: 55%;
  width:300px;
  height:50px;
  border-radius: 6px 12px 6px 12px; 
  
}

#input_s{
  position:absolute;
  top: 45%;
  left: 55%;
  width:70px;
  height:30px;
}

#input_back{
  position:absolute;
  top: 90%;
  left: 10%;
  width:150px;
  height:30px;
}

#input_back2{
  position:absolute;
  top: 90%;
  left: 55%;
  width:150px;
  height:30px;
}

.btn {
  color: #0099CC; 
  background: transparent; 
  border: 2px solid #0099CC;
  
  
}

.btn1{
  color: #0099CC; 
  background: transparent; 
  border: 2px solid #0099CC;
  border-radius: 6px 24px 6px 24px; 
  color: rgb(7, 178, 240); 
  border: 2px solid #008CBA;
}
.btn1:hover {
  background-color: #008CBA;
  color: white;
}

h3{
  position:absolute;
  top:20%;
  left:55%;
  font-size: 40px;
  color:rgb(16, 238, 246)
}

h4{
  position:absolute;
  top:45%;
  left:55%;
  font-size: 40px;
  color:rgb(16, 238, 246)
  
}

#input2{
  position:absolute;
  top:65%;
  left:55%;
}


#py{
  position:absolute;
  top:3%;
  left:22%;
  width: 100px;
  z-index: 1;
}







